.policy_page {
    min-height: 40rem;
}

.policy_page_container {
    padding-right: 6rem !important;
    padding-left: 6rem !important;
    padding-top: 6rem !important;
    max-width: 90rem;
}

.styled_list {
    list-style-type: decimal;
}