.settings-button {
    margin: 1rem !important;
    max-width: 55rem !important;
    max-height: 3rem !important;
    min-height: 3rem !important;
}

.settings_button {
    margin: 0.75rem !important;
    max-width: 20rem !important;
    max-height: 2rem !important;
    min-height: 2rem !important;
    padding: 0 !important;
}

.vertivcal_border {
    background: linear-gradient(#212529, #212529) 50% 50%/calc(100% - 4px) calc(100% - 4px) no-repeat,
        linear-gradient(90deg, transparent 0%, #585858 100%) no-repeat -7% 1%/104% 40%;
    border-radius: 0px;
    box-sizing: border-box;
    margin-right: 1rem;
}

.dangerAllert {
    --bs-alert-padding-y: 0.4rem !important;
}

.sure_button {
    min-width: 6.25rem !important;
}