.react-multiple-carousel__arrow {
    background-color: #a5a5a5;
    min-width: 3.25rem;
    min-height: 3.25rem;
}

.detail-button {
    width: 27.2rem !important;
}

.comments-button {
    width: 13.2rem !important;
}

.comments-show-button {
    width: 8.2rem !important;
}

.carousel-card {
    min-height: 27rem;
    max-height: 27rem;
}

.card-img-sm {
    min-height: 21rem;
    max-height: 21rem;
}

.button-star {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.on {
    color: #f8cb05;
}

.off {
    color: #ccc;
}

.comments-heigth {
    max-height: 25rem !important;
    min-height: 10rem;
}

.accordion {
    --bs-accordion-btn-padding-y: 0.4rem !important;
}

.comment-button {
    width: 4rem;
    height: 2.75rem;
}

.add-parent-comment-button {
    width: 20rem;
}

ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}

.comment {
    background: rgba(0, 0, 0, 0.6);
}

.comment-pill {
    border-radius: 2.1rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.primary_button {
    background-color: #292b36 !important;
    border-color: #292b36 !important;
}

.danger_button {
    background-color: #530019 !important;
    border-color: #530019 !important;
}

.success_button {
    background-color: #005331 !important;
    border-color: #005331 !important;
}

.warning_button {
    background-color: #928800 !important;
    border-color: #928800 !important;
}